{extend name="index/index" /}
	<form method="post" action="{php}echo url('index/editpassword',[]);{/php}"  class="form form-horizontal" id="form-user-character-add" enctype="multipart/form-data">
		 <div class="box-header">
			<h3 class="box-title">修改密码页面</h3>
		</div>
	<table class="table table-bordered table-striped">
	<tr class="form-group">
            <td style="width:20%;"><label for="password1">请输入原密码</label></td>
            <td id="ps1">
			<input type="password" name="password1" id="password1" style="width:20%;" value="" onblur="docheck();">
			</td>
    </tr>
	<tr class="form-group">
			<td style="width:20%;"><label for="password2">请输入新密码</label></td>
            <td><input type="password" name="password2" id="password2" style="width:20%;" value=""></td>
	</tr>
	<tr class="form-group">
			<td style="width:20%;"><label for="password3">请再次输入新密码</label></td>
            <td><input type="password" name="password3" id="password3" style="width:20%;" value=""></td>
	</tr>
	</table>
        <div class="box-footer">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" class="btn btn-success radius" value="确定"/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="reset" class="btn btn-success radius" value="重置" style="background-color:red"/>
        </div>
		<script type="text/javascript" src="__PUBLIC__/static/jquery/jquery.js"></script>
		<script>
		function docheck(){
			var password1 = $("#password1").val();
			alert(password1);
			$.ajax({
					type: 'POST',
					url:'{php}echo url('index/editpassword',[]);{/php}',
					data: 'aa='+  password1 ,
					success: ddds ,
					dataType: 'html'
			});
		}
		function ddds(data) {
		 if(data=="1111"){ 
			//alert("输出正确");
			//$("#ps1").after("<p>√</p>");
			//$("#ps1").remove("<p>√</p>");
           }else if(data=="2222"){
		   //alert("密码错误");
		   //$("#ps1").after("<p>×</p>");
		   } 			
		}
		</script>